{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} {% block ibx-title %}{% endblock %} {% endblock %}
{% block pageName %}{% block ibx-page-name %}{% endblock %}{% endblock %}
{% block style %}
    <style>
        #inbox{
            height: 100%
        }
    </style>
    {% block ibx-style %}{% endblock %}
{% endblock %}
{% block link %} {% block ibx-link %}{% endblock %}{% endblock %}


{% block content %}
    <div class="nk-ibx">
        <!-- Side Navigation -->
        <div class="nk-ibx-aside" data-content="inbox-aside" data-toggle-overlay="true" data-toggle-screen="lg">
            {% if request.user.is_staff %}
                <div class="nk-ibx-head">
                    <div class="mr-n1">
                        <a href="{% url 'home:dashboard:inbox_new' %}" class="link link-text">
                            <em class="icon-circle icon ni ni-plus"></em>
                            <span>Compose SMS</span>
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="nk-ibx-nav" data-simplebar>
                <ul class="nk-ibx-menu">
                    <li>
                        <a class="nk-ibx-menu-item" href="{% url 'home:dashboard:inbox' %}">
                            <em class="icon ni ni-inbox"></em>
                            <span class="nk-ibx-menu-text">Inbox</span>
                            <span id="msg-count" class="badge badge-pill badge-primary">{{ messages.count }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="nk-ibx-menu-item" href="{% url 'home:dashboard:sent_inbox' %}">
                            <em class="icon ni ni-send"></em>
                            <span class="nk-ibx-menu-text">Sent</span>
                        </a>
                    </li>
                    {#                    <li>#}
                    {#                        <a class="nk-ibx-menu-item" href="javascript:void(0)">#}
                    {#                            <em class="icon ni ni-trash"></em>#}
                    {#                            <span class="nk-ibx-menu-text">Trash</span>#}
                    {#                            <span class="badge badge-pill badge-danger badge-dim">8</span>#}
                    {#                        </a>#}
                    {#                    </li>#}
                </ul>
                <div class="nk-ibx-nav-head">
                    <h6 class="title">Groups</h6>
                    {#                    <a class="link" href="javascript:void(0)">#}
                    {#                        <em class="icon ni ni-plus-c"></em>#}
                    {#                    </a>#}
                </div>
                <ul class="nk-ibx-label">
                    {% for group in message_groups %}
                        <li>
                            <a href="{% url 'home:dashboard:inbox' %}?groupId={{ group.id }}">
                                <span class="nk-ibx-label-dot dot dot-xl dot-label {% cycle 'bg-primary' 'bg-danger' 'bg-success'%} "></span>
                                <span class="nk-ibx-label-text">{{ group.title|truncatewords:2 }}</span></a>
                        </li>
                    {% empty %}
                        <li>
                            <a href="javascript:void(0)">No Group</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="nk-ibx-status">
                    <div class="nk-ibx-status-info">
                        <em class="icon ni ni-hard-drive"></em>
                        <span>&copy;{% now 'Y' %} SPAS Portal</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of side navigation -->

        <div class="nk-ibx-body bg-white">
            {% block ibx-view %}{% endblock %}
        </div>

    </div>
{% endblock %}