{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} {% block ibx-title %}{% endblock %} {% endblock %}
{% block pageName %}{% block ibx-page-name %}{% endblock %}{% endblock %}
{% block style %}{% block ibx-style %}{% endblock %}{% endblock %}
{% block link %} {% block ibx-link %}{% endblock %}{% endblock %}


{% block content %}
    <div class="nk-ibx">
        <!-- Side Navigation -->
        <div class="nk-ibx-aside" data-content="inbox-aside" data-toggle-overlay="true" data-toggle-screen="lg">
            <div class="nk-ibx-head">
                <div class="mr-n1">
                    <a href="{% url 'home:dashboard:inbox_new' %}" class="link link-text">
                        <em class="icon-circle icon ni ni-plus"></em>
                        <span>Compose SMS</span>
                    </a>
                </div>
            </div>
            <div class="nk-ibx-nav" data-simplebar>
                <ul class="nk-ibx-menu">
                    <li class="active">
                        <a class="nk-ibx-menu-item" href="{% url 'home:dashboard:inbox' %}">
                            <em class="icon ni ni-inbox"></em>
                            <span class="nk-ibx-menu-text">Inbox</span>
                            <span class="badge badge-pill badge-primary">0</span>
                        </a>
                    </li>
                    <li>
                        <a class="nk-ibx-menu-item" href="javascript:void(0)">
                            <em class="icon ni ni-send"></em>
                            <span class="nk-ibx-menu-text">Sent</span>
                        </a>
                    </li>
                    <li>
                        <a class="nk-ibx-menu-item" href="javascript:void(0)">
                            <em class="icon ni ni-trash"></em>
                            <span class="nk-ibx-menu-text">Trash</span>
                            <span class="badge badge-pill badge-danger badge-dim">8</span>
                        </a>
                    </li>
                </ul>
                <div class="nk-ibx-nav-head">
                    <h6 class="title">Groups</h6>
                    <a class="link" href="javascript:void(0)">
                        <em class="icon ni ni-plus-c"></em>
                    </a>
                </div>
                <ul class="nk-ibx-label">
                    <li><a href="javascript:void(0)"><span class="nk-ibx-label-dot dot dot-xl dot-label bg-primary"></span><span class="nk-ibx-label-text">Business</span></a>
                        <div class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="link-list-opt no-bdr">
                                    <li><a href="javascript:void(0)"><span>Edit Label</span></a></li>
                                    <li><a href="javascript:void(0)"><span>Remove Label</span></a></li>
                                    <li><a href="javascript:void(0)"><span>Label Color</span></a></li>
                                    <li class="divider"></li>
                                </ul>
                                <ul class="link-check">
                                    <li><a href="javascript:void(0)">Show if unread</a></li>
                                    <li class="active"><a href="javascript:void(0)">Show</a></li>
                                    <li><a href="javascript:void(0)">Hide</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)"><span class="nk-ibx-label-dot dot dot-xl dot-label bg-danger"></span><span class="nk-ibx-label-text">Personal</span></a>
                        <div class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="link-list-opt no-bdr">
                                    <li><a href="javascript:void(0)"><span>Edit Label</span></a></li>
                                    <li><a href="javascript:void(0)"><span>Remove Label</span></a></li>
                                    <li><a href="javascript:void(0)"><span>Label Color</span></a></li>
                                    <li class="divider"></li>
                                </ul>
                                <ul class="link-check">
                                    <li><a href="javascript:void(0)">If unread</a></li>
                                    <li class="active"><a href="javascript:void(0)">Show</a></li>
                                    <li><a href="javascript:void(0)">Hide</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="javascript:void(0)"><span class="nk-ibx-label-dot dot dot-xl dot-label bg-success"></span><span class="nk-ibx-label-text">Social</span></a>
                        <div class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="link-list-opt no-bdr">
                                    <li><a href="javascript:void(0)"><span>Edit Label</span></a></li>
                                    <li><a href="javascript:void(0)"><span>Remove Label</span></a></li>
                                    <li><a href="javascript:void(0)"><span>Label Color</span></a></li>
                                    <li class="divider"></li>
                                </ul>
                                <ul class="link-check">
                                    <li><a href="javascript:void(0)">Show if unread</a></li>
                                    <li class="active"><a href="javascript:void(0)">Show</a></li>
                                    <li><a href="javascript:void(0)">Hide</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="nk-ibx-status">
                    <div class="nk-ibx-status-info">
                        <em class="icon ni ni-hard-drive"></em>
                        <span>&copy;{% now 'Y' %} SPAS Portal</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of side navigation -->

        <div class="nk-ibx-body bg-white">
            {% block ibx-view %}{% endblock %}
        </div>

    </div>
{% endblock %}