{% extends 'dashboard/base.html' %}
{% block title %} Update Profile {% endblock %}
{% block pageName %} Profile {% endblock %}

{% block style %}
    <style>
        #id_avatar{
            visibility: hidden;
            position: absolute;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="nk-block">
        <div class="card card-bordered">
            <div class="card-aside-wrap">
                <div class="card-inner card-inner-lg">
                    <div class="nk-block-head nk-block-head-lg">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h4 class="nk-block-title">Personal Information</h4>
                                <div class="nk-block-des">
                                    <p>Basic info, like your name and id, that you use on SPAS Platform.</p>
                                </div>
                            </div>
                            <div class="nk-block-head-content align-self-start d-lg-none">
                                <a href="javascript:void(0)" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside">
                                    <em class="icon ni ni-menu-alt-r"></em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        <div class="nk-data data-list">
                            <div class="data-head">
                                <h6 class="overline-title">Basics</h6>
                            </div>
                            <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">Name</span>
                                    <span class="data-value">{{ request.user.name }}</span>
                                </div>
                                <div class="data-col data-col-end">
                                    <span class="data-more">
                                        <em class="icon ni ni-forward-ios"></em>
                                    </span>
                                </div>
                            </div>
                            <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">Email</span>
                                    <span class="data-value">{{ request.user.email }}</span>
                                </div>
                                <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                            </div>
                            <div class="data-item">
                                <div class="data-col">
                                    <span class="data-label">Password</span>
                                    <span class="data-value">*********</span>
                                </div>
                                <div class="data-col data-col-end"><span class="data-more disable"><em class="icon ni ni-lock-alt"></em></span></div>
                            </div>
                            <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">Phone Number</span>
                                    <span class="data-value text-soft">{{ request.user.phone }}</span>
                                </div>
                                <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                            </div>
                            <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">Address</span>
                                    <span class="data-value">{{ request.user.address }}</span>
                                </div>
                                <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                            </div>
                            {% if not request.user.is_staff %}
                                <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                    <div class="data-col">
                                        <span class="data-label">Faculty</span>
                                        <span class="data-value">{{ request.user.studentprofile_set.first.faculty }}</span>
                                    </div>
                                    <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                </div>
                                <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                    <div class="data-col">
                                        <span class="data-label">Department</span>
                                        <span class="data-value">{{ request.user.studentprofile_set.first.department }}</span>
                                    </div>
                                    <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                </div>
                                <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                    <div class="data-col">
                                        <span class="data-label">Level</span>
                                        <span class="data-value">{{ request.user.studentprofile_set.first.level }}</span>
                                    </div>
                                    <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                </div>
                                <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                    <div class="data-col">
                                        <span class="data-label">Registration Number</span>
                                        <span class="data-value">{{ request.user.studentprofile_set.first.reg_no }}</span>
                                    </div>
                                    <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                </div>
                            {% else %}
                                <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                    <div class="data-col">
                                        <span class="data-label">Role</span>
                                        <span class="data-value">{{ request.user.staffprofile_set.first.role }}</span>
                                    </div>
                                    <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                </div>
                                <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                    <div class="data-col">
                                        <span class="data-label">Staff ID</span>
                                        <span class="data-value">{{ request.user.staffprofile_set.first.staffId }}</span>
                                    </div>
                                    <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Aside -->
                <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                    <div class="card-inner-group" data-simplebar>
                        <div class="card-inner">
                            <div class="user-card">
                                <div class="user-avatar bg-primary">
                                    <div class="user-avatar user-avatar-custom">
                                        <img class="avatar" src="{{ request.user.avatar.url }}" alt="user image">
                                    </div>
                                    {#                                    <span>AB</span>#}
                                </div>
                                <div class="user-info">
                                    <span class="lead-text">{{ request.user.name }}</span>
                                    <span class="sub-text">{{ request.user.email }}</span>
                                </div>
                                <div class="user-action">
                                    <div class="dropdown">
                                        <a class="btn btn-icon btn-trigger mr-n2" data-toggle="dropdown" href="javascript:void(0)">
                                            <em class="icon ni ni-more-v"></em>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <form method="post" id="update-avatar-form" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <label for="id_avatar" class="m-0" style="position: relative">
                                                                {{ avatarForm.avatar }}
                                                                <em class="icon ni ni-camera-fill"></em>
                                                                <span class="ml-1">Change Photo</span>
                                                            </label>
                                                        </form>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#profile-edit">
                                                        <em class="icon ni ni-edit-fill"></em>
                                                        <span>Update Profile</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-inner">
                            <div class="user-account-info py-0">
                                <h6 class="overline-title-alt">Last Login</h6>
                                <div class="user-balance">{{ request.user.last_login|date }} <small class="currency currency-btc"><em class="ni ni-clock-fill"></em></small></div>
                                <div class="user-balance-sub">Created at <span>{{ request.user.created_at|date }}<span class="currency currency-btc"><em class="ni ni-clock"></em></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-inner p-0">
                            <ul class="link-list-menu">
                                <li>
                                    <a class="active" href="javascript:void(0)">
                                        <em class="icon ni ni-user-fill-c"></em>
                                        <span>Personal Infomation</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block ext-content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="profile-edit">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <a href="javascript:void(0)" class="close" data-dismiss="modal">
                <em class="icon ni ni-cross-sm"></em>
            </a>
            <div class="modal-body modal-body-lg">
                <h5 class="title">Update Profile</h5>
                <ul class="nk-nav nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#personal">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#security">Security</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="personal">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="id_name">Name</label>
                                        {{ userForm.name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="id_email">Email</label>
                                        {{ userForm.email }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="id_phone">Phone Number</label>
                                        {{ userForm.phone }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="id_address">Address</label>
                                        {{ userForm.address }}
                                        {#                                        <label class="form-label" for="birth-day">Date of Birth</label>#}
                                        {#                                        <input type="text" class="form-control form-control-lg date-picker" id="birth-day" placeholder="Enter your name">#}
                                    </div>
                                </div>
                                {% if request.user.is_staff %}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="id_role">Role</label>
                                            {{ staffProfileForm.role }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="id_staffid">Staff ID</label>
                                            {{ staffProfileForm.staffId }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="id_faculty">Faculty</label>
                                            {{ studentProfileForm.faculty }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="id_department">Department</label>
                                            {{ studentProfileForm.department }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="id_level">Level</label>
                                            {{ studentProfileForm.level }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="id_reg_no">Registration Number</label>
                                            {{ studentProfileForm.reg_no }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-12">
                                    {#                                    <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="latest-sale"><label class="custom-control-label" for="latest-sale">Use full name to display </label></div>#}
                                    {#                                </div>#}
                                    <div class="col-12">
                                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                            <li>
                                                <button type="submit" class="btn btn-lg btn-primary">Update Profile</button>
                                            </li>
                                            <li>
                                                <button type="button" data-dismiss="modal" class="link link-light">Cancel</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="security">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row gy-4">
                                <div class="col-12">
                                    <h6>Update Password</h6>
                                    <p class="text-warning">
                                        For security reasons you will be logged out and required to re-login with
                                        your new password
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="id_password">Password</label>
                                        {{ passwordForm.password }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="id_confirm">Confirm Password</label>
                                        {{ passwordForm.confirm }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                        <li>
                                            <button type="submit" class="btn btn-lg btn-primary">Update Password</button>
                                        </li>
                                        <li>
                                            <button type="button" data-dismiss="modal" class="link link-light">Cancel</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $('#id_avatar').on('change', function(event){
            $('#update-avatar-form')[0].submit()
        });
        {% if request.GET.edit == 'true' %}
            $('#profile-edit').modal('show')
        {% endif %}
    </script>
{% endblock %}