{% extends 'dashboard/components/inboxContainer.html' %}
{% load static %}
{% block ibx-title %} Compose SMS {% endblock %}
{% block ibx-page-name %} Compose SMS {% endblock %}
{% block ibx-style %}
    <style>
        #sms-attcmts{
            visibility: hidden;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            z-index:5
        }
    </style>
{% endblock %}

{% block ibx-view %}
    <div id="composeSMS" class="nk-ibx-list" data-simplebar>
        <form method="post" enctype="multipart/form-data" id="smsForm">
            {% csrf_token %}
            <div class="nk-reply-form-header">
                <div class="nk-reply-form-group">
                    <div class="nk-reply-form-input-group">
                        <div class="nk-reply-form-input nk-reply-form-input-to">
                            <label class="label">To</label>
                            <input
                                    type="text"
                                    id="to"
                                    name="to"
                                    class="input-mail tagify"
                                    placeholder="Recipient"
                                    data-whitelist="{% for user in users %}{{ user.email }},{% endfor %}"
                            >
                        </div>
                        <div class="nk-reply-form-input nk-reply-form-input-cc" data-content="mail-cc">
                            <div class="row">
                                <div class="col-1">
                                    <label class="label" for="group">GP</label>
                                </div>
                                <div class="col-10">
                                    <select name="group" id="group" class="form-control">
                                        <optgroup label="Department">
                                            {% for group in groups %}
                                                {% if group.context == 'DEPARTMENT' %}
                                                    <option value="{{ group.id }}">{{ group.title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="Faculty">
                                            {% for group in groups %}
                                                {% if group.context == 'FACULTY' %}
                                                    <option value="{{ group.id }}">{{ group.title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="Level">
                                            {% for group in groups %}
                                                {% if group.context == 'LEVEL' %}
                                                    <option value="{{ group.id }}">{{ group.title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                        {% for group in custom_groups %}
                                            <option value="{{ group.id }}">{{ group.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-1">
                                    <a href="#" class="toggle-opt mt-2" data-target="mail-gp">
                                        <em class="icon ni ni-cross"></em>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nk-reply-form-nav">
                        <li>
                            <a tabindex="-1" class="toggle-opt" data-target="mail-cc" href="#">
                                GP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nk-reply-form-editor">
                <div class="nk-reply-form-field">
                    <input type="text" id="subject" name="subject" class="form-control form-control-simple" placeholder="Subject">
                </div>
                <div class="nk-reply-form-field">
                    <textarea name="content" id="content" class="form-control form-control-simple no-resize ex-large" placeholder="Start typing..." rows="18"></textarea>
                </div>
            </div>
            <div class="nk-reply-form-tools">
                <ul class="nk-reply-form-actions g-1">
                    <input type="hidden" name="sendToContext" id="sendContext">
                    <li class="mr-2">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </li>
                    <li>
                        <label class="btn btn-icon btn-sm m-0" data-toggle="tooltip" data-placement="top" title="Upload Attachment" href="#">
                            <input type="file" name="attachments" id="sms-attcmts" accept="*/*" multiple>
                            <em class="icon ni ni-clip-v"></em>
                        </label>
                    </li>
                </ul>
                {#            <ul class="nk-reply-form-actions g-1">#}
                {#                <li>#}
                {#                    <div class="dropdown"><a href="#" class="dropdown-toggle btn-trigger btn btn-icon" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>#}
                {#                        <div class="dropdown-menu dropdown-menu-right">#}
                {#                            <ul class="link-list-opt no-bdr">#}
                {#                                <li><a href="#"><span>Another Option</span></a></li>#}
                {#                                <li><a href="#"><span>More Option</span></a></li>#}
                {#                            </ul>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </li>#}
                {#                <li><a href="#" class="btn-trigger btn btn-icon mr-n2"><em class="icon ni ni-trash"></em></a></li>#}
                {#            </ul>#}
            </div>
        </form>
    </div>

    <!-- Toast Message -->
    <div id="smsToast" class="toast" style="display:none;position: fixed; opacity: 1; top: 0; right: 0;z-index:99999">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Information</strong>
            <small>SPAS</small>
            <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">...</div>
    </div>
{% endblock %}

{% block script %}
    <script>
        let toggleOptionElem = $('.toggle-opt');
        const sendToElem = $('.nk-reply-form-input-to');
        const gpElem = $('.nk-reply-form-input-cc');
        const gpBtnElem = $('.nk-reply-form-nav');
        const smsForm = $('#smsForm');
        const subject = $('#subject');
        const to = $('#to');
        const group = $('#group');
        const content = $('#content');
        const attachment = $('#sms-attcmts');
        let send_message_as = 'email';

        toggleOptionElem.on('click', function(event){
            if($(this).attr('data-target') === 'mail-cc'){
                sendToElem.fadeOut();
                gpBtnElem.fadeOut();
                gpElem.fadeIn();
                send_message_as = 'group';
            }
            if($(this).attr('data-target') === 'mail-gp'){
                gpElem.fadeOut();
                sendToElem.fadeIn();
                gpBtnElem.fadeIn();
                send_message_as = 'email'
            }
        });
        attachment.on('change', async function(event){
            const files = event.target.files;
            const new_attachment = new Attachment(files);
            let ids = await new_attachment.uploadAttachments();
            console.log('File ids:', ids)
        });
        smsForm.on('submit', function(event){
            event.preventDefault();
            let sendTo = to.val();
            const messagegroup = group.val();
            const messageSubj = subject.val();
            const messageContent = content.val();
            if(sendTo && messagegroup && messageSubj && messageContent){
                sendTo = JSON.parse(sendTo).map(to=>to.value).join(',');
                to.val(sendTo);
                $('#sendContext').val(send_message_as);
                $(this)[0].submit()
            }
        })
    </script>
{% endblock %}