{% extends 'dashboard/components/inboxContainer.html' %}
{% load static %}
{% block ibx-title %} Inbox Content {% endblock %}
{% block ibx-link %}
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/editors/summernote.css@ver=2.4.0.css' %}">
{% endblock %}
{% block ibx-page-name %} {{ parent_message.subject|truncatewords:2 }} {% endblock %}
{% block ibx-style %}
    <style>
        #sms-attcmts{
            visibility: hidden;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            z-index:5
        }
    </style>
{% endblock %}

{% block ibx-view %}
    <div class="nk-ibx-view show-ibx">
        <div class="nk-ibx-head">
            <div class="nk-ibx-head-actions">
                <ul class="nk-ibx-head-tools g-1">
                    <li class="ml-n2">
                        <a href="{% url 'home:dashboard:inbox' %}" class="btn btn-icon btn-trigger">
                            <em class="icon ni ni-arrow-left"></em>
                        </a>
                    </li>
                    <li>
                        <h5 class="title">{{ parent_message.subject }}</h5>
                    </li>
                    {#                    <li class="d-none d-sm-block"><a href="javascript:void(0)" class="btn btn-icon btn-trigger btn-tooltip" title="Mark as Spam"><em class="icon ni ni-report"></em></a></li>#}
                    {#                    <li><a href="javascript:void(0)" class="btn btn-icon btn-trigger btn-tooltip" title="Delete"><em class="icon ni ni-trash"></em></a></li>#}
                    {#                    <li><a href="javascript:void(0)" class="btn btn-icon btn-trigger btn-tooltip" title="Label"><em class="icon ni ni-label"></em></a></li>#}
                    {#                    <li>#}
                    {#                        <div class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>#}
                    {#                            <div class="dropdown-menu">#}
                    {#                                <ul class="link-list-opt no-bdr">#}
                    {#                                    <li><a class="dropdown-item" href="javascript:void(0)"><span>Mark as unread</span></a></li>#}
                    {#                                    <li><a class="dropdown-item" href="javascript:void(0)"><span>Mark as not important</span></a></li>#}
                    {#                                    <li><a class="dropdown-item" href="javascript:void(0)"><span>Archive this message</span></a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}
                </ul>
            </div>
            {#            <div class="nk-ibx-head-actions">#}
            {#                <ul class="nk-ibx-head-tools g-1">#}
            {#                    <li class="d-none d-sm-block"><a href="javascript:void(0)" class="btn btn-icon btn-trigger btn-tooltip" title="Prev"><em class="icon ni ni-chevron-left"></em></a></li>#}
            {#                    <li class="d-none d-sm-block"><a href="javascript:void(0)" class="btn btn-icon btn-trigger btn-tooltip" title="Next"><em class="icon ni ni-chevron-right"></em></a></li>#}
            {#                    <li class="mr-n1 mr-lg-0"><a href="javascript:void(0)" class="btn btn-icon btn-trigger search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a></li>#}
            {#                </ul>#}
            {#            </div>#}
            {#            <div class="search-wrap" data-search="search">#}
            {#                <div class="search-content">#}
            {#                    <a href="javascript:void(0)" class="search-back btn btn-icon toggle-search" data-target="search">#}
            {#                        <em class="icon ni ni-arrow-left"></em>#}
            {#                    </a>#}
            {#                    <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or message">#}
            {#                    <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="nk-ibx-reply nk-reply" data-simplebar>
            {#            <div class="nk-ibx-reply-head">#}
            {#                <div>#}
            {#                    <h4 class="title">Message Title</h4>#}
            {#                </div>#}
            {#                <ul class="d-flex g-1">#}
            {#                    <li class="d-none d-sm-block"><a href="javascript:void(0)" class="btn btn-icon btn-trigger btn-tooltip" title="Print"><em class="icon ni ni-printer"></em></a></li>#}
            {#                    <li class="mr-n1">#}
            {#                        <div class="asterisk"><a class="btn btn-trigger btn-icon btn-tooltip" href="javascript:void(0)"><em class="asterisk-off icon ni ni-star"></em><em class="asterisk-on icon ni ni-star-fill"></em></a></div>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </div>#}

            <div class="nk-ibx-reply-group">
                <div class="nk-ibx-reply-item nk-reply-item">
                    <div class="nk-reply-header nk-ibx-reply-header is-collapsed">
                        <div class="nk-reply-desc">
                            <div class="nk-reply-avatar user-avatar bg-blue">
                                <img src="{{ parent_message.sender.avatar.url }}" alt="">
                            </div>
                            <div class="nk-reply-info">
                                <div class="nk-reply-author lead-text">
                                    {{ parent_message.sender.name }}
                                    <span class="date d-sm-none"> {{ parent_message.created_at|date }}</span>
                                </div>
                                <div class="dropdown nk-reply-msg-info">
                                    <a href="javascript:void(0)" class="dropdown-toggle sub-text dropdown-indicator" data-toggle="dropdown">more info</a>
                                    <div class="dropdown-menu dropdown-menu-md">
                                        <ul class="nk-reply-msg-meta">
                                            <li><span class="label">from:</span> <span class="info"><a href="javascript:void(0)">{{ parent_message.sender.email }}</a></span></li>
                                            <li>
                                                <span class="label">to:</span>
                                                <span class="info">
                                                    {% for receiver in parent_message.receivers.all%}
                                                        <a href="javascript:void(0)">{{ receiver.email }}</a>
                                                    {% empty %}
                                                        <a href="javascript:void(0)">no receiver</a>
                                                    {% endfor %}
                                                </span>
                                            </li>
                                            <li>
                                                <span class="label">group:</span>
                                                <span class="info">
                                                    {% if parent_message.group %}
                                                        <a href="javascript:void(0)">{{ parent_message.group.title }}</a>
                                                    {% else %}
                                                        <a href="javascript:void(0)">no group</a>
                                                    {% endif %}
                                                </span>
                                            </li>
                                            <li><span class="label">mailed-by:</span> <span class="info"><a href="javascript:void(0)">spas</a></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="nk-reply-msg-excerpt">
                                    {% autoescape off %}
                                        {{ parent_message.content }}
                                    {% endautoescape %}
                                </div>
                            </div>
                        </div>
                        <ul class="nk-reply-tools g-1">
                            {% if parent_message.attachments.count > 0 %}
                                <li class="attach-msg"><em class="icon ni ni-clip-h"></em></li>
                            {% endif %}
                            <li class="date-msg"><span class="date">{{ parent_message.created_at|date }}</span></li>
                        </ul>
                    </div>
                    <div class="nk-reply-body nk-ibx-reply-body">
                        <div class="nk-reply-entry entry">
                            {% autoescape off %}
                                {{ parent_message.content }}
                            {% endautoescape %}
                        </div>
                        {% if parent_message.attachments.count > 0 %}
                            <div class="attach-files">
                                <ul class="attach-list">
                                    {% for attachment in  parent_message.attachments.all %}
                                        <li class="attach-item">
                                            <a class="download" target="_blank" href="{{ attachment.file.url }}" download>
                                                <em class="icon ni ni-download"></em>
                                                <span>{{ attachment.get_file_name }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="attach-foot">
                                    <span class="attach-info">
                                        {{ parent_message.attachments.count }} file{{ parent_message.attachments.count|pluralize }} attached
                                    </span>
                                    <a class="attach-download link" href="javascript:void(0)">
                                        attachments
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if parent_message.threads.count %}
                    <div class="d-flex px-4"><small class="font-weight-bold">REPLIES</small></div>
                    {% for message_thread in parent_message.threads.all %}
                        <div class="nk-ibx-reply-item nk-reply-item">
                            <div class="nk-reply-header nk-ibx-reply-header is-collapsed">
                                <div class="nk-reply-desc">
                                    <div class="nk-reply-avatar user-avatar bg-blue">
                                        <img src="{{ message_thread.sender.avatar.url }}" alt="">
                                    </div>
                                    <div class="nk-reply-info">
                                        <div class="nk-reply-author lead-text">
                                            {{ message_thread.sender.name }}
                                            <span class="date d-sm-none"> {{ message_thread.created_at|date }}</span>
                                        </div>
                                        <div class="nk-reply-msg-excerpt">
                                            {% autoescape off %}
                                                {{ message_thread.content }}
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                </div>
                                <ul class="nk-reply-tools g-1">
                                    {% if message_thread.attachments.count > 0 %}
                                        <li class="attach-msg"><em class="icon ni ni-clip-h"></em></li>
                                    {% endif %}
                                    <li class="date-msg"><span class="date">{{ message_thread.created_at|date }}</span></li>
                                </ul>
                            </div>
                            <div class="nk-reply-body nk-ibx-reply-body">
                                <div class="nk-reply-entry entry">
                                    {% autoescape off %}
                                        {{ message_thread.content }}
                                    {% endautoescape %}
                                </div>
                                {% if message_thread.attachments.count > 0 %}
                                    <div class="attach-files">
                                        <ul class="attach-list">
                                            {% for attachment in  message_thread.attachments.all %}
                                                <li class="attach-item">
                                                    <a class="download" target="_blank" href="{{ attachment.file.url }}" download>
                                                        <em class="icon ni ni-download"></em>
                                                        <span>{{ attachment.get_file_name }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="attach-foot">
                                    <span class="attach-info">
                                        {{ message_thread.attachments.count }} file{{ parent_message.attachments.count|pluralize }} attached
                                    </span>
                                            <a class="attach-download link" href="javascript:void(0)">
                                                attachments
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="nk-ibx-reply-form nk-reply-form ml-3">
                <form method="post" id="smsForm">
                    {% csrf_token %}
                    <div class="nk-reply-form-editor">
                        <div class="summernote-minimal"></div>
                        <input type="hidden" name="content" id="content">
                    </div>
                    <div class="nk-reply-form-field">
                        <div class="nk-files nk-files-view-group">
                            <div class="nk-files-group">
                                <div id="attach-files-list" class="nk-files-list"></div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-reply-form-tools">
                        <ul class="nk-reply-form-actions g-1">
                            <li class="mr-2">
                                <button class="btn btn-primary" type="submit">Reply</button>
                            </li>
                            <li>
                                <input type="hidden" name="attachments" id="attachmentsInput">
                                <label class="btn btn-icon btn-sm m-0" data-toggle="tooltip" data-placement="top" title="Upload Attachment" href="#">
                                    <input type="file" id="sms-attcmts" accept="*/*" multiple>
                                    <em class="icon ni ni-clip-v"></em>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <input type="hidden" name="parentMessageID" value="{{ parent_message.id }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'dashboard/assets/js/libs/editors/summernote.js@ver=2.4.0' %}"></script>
    <script src="{% static 'dashboard/assets/js/editors.js@ver=2.4.0' %}"></script>

    <script>
        const smsForm = $('#smsForm');
        const content = $('.summernote-minimal');
        const attachment = $('#sms-attcmts');
        const attachmentBlock = $('#attach-files-list');
        let attachmentsRef = [];

        attachment.on('change', async function(event){
            const files = event.target.files;
            const new_attachment = new Attachment(files);
            let ids = await new_attachment.uploadAttachments();
            for(let i=0; i<files.length; i++){
                attachmentBlock.append(
                    Attachment.getAttachmentUI(
                        files[i].name,
                        (files[i].size/(1024*1024)).toFixed(2),
                        ids[i].id
                    )
                );
                $(`#attach-del-${ids[i].id}`).on('click', async()=>{
                    await new_attachment.deleteAttachment(ids[i].id);
                    $(`#file-item-${ids[i].id}`).remove();
                    attachmentsRef.splice(attachmentsRef.indexOf(ids[i].id), 1);
                })
            }
            attachmentsRef = attachmentsRef.concat(ids.map(id=>id.id));
        });
        smsForm.on('submit', function(event){
            event.preventDefault();
            const messageContent = content.summernote('code');
            if(!content.summernote('isEmpty')){
                $('#content').val(messageContent);
                $('#attachmentsInput').val(attachmentsRef.join(','));
                $(this)[0].submit()
            }
        });
    </script>
{% endblock %}