{% load static %}
<!DOCTYPE html>
<html lang="" class="js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static 'dashboard/images/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/dashlite.css@ver=2.4.0.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'dashboard/assets/css/theme.css@ver=2.4.0.css' %}">
    {% block link %}{% endblock %}
    {% block style %}{% endblock %}
    <title>SPAS | {% block title %}{% endblock %}</title>

    <style>
        .user-avatar-custom{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: transparent;
        }
        .avatar{
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    </style>
</head>
<body class="nk-body npc-apps apps-only has-apps-sidebar npc-apps-inbox">
<noscript>
    <strong>We're sorry but SPAS doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div class="nk-app-root">
    <!-- Side Nav -->
    <div class="nk-apps-sidebar">
        <div class="nk-apps-brand">
            <a href="#" class="logo-link">
                <img class="logo-light logo-img" src="{% static 'dashboard/images/spas_logo_light.png' %}" srcset="{% static 'dashboard/images/spas_logo_light.png' %}" alt="logo">
                <img class="logo-dark logo-img" src="{% static 'dashboard/images/spas_logo.png'%}" srcset="{% static 'dashboard/images/spas_logo.png' %}" alt="logo-dark">
            </a>
        </div>
        <div class="nk-sidebar-element">
            <div class="nk-sidebar-body">
                <div class="nk-sidebar-content" data-simplebar>
                    <div class="nk-sidebar-menu">
                        <ul class="nk-menu apps-menu">
                            <li class="nk-menu-item">
                                <a href="{% url 'home:dashboard:index' %}" class="nk-menu-link" title="Dashboard">
                                    <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'home:dashboard:inbox' %}" class="nk-menu-link" title="Mailbox">
                                    <span class="nk-menu-icon"><em class="icon ni ni-inbox"></em></span>
                                </a>
                            </li>
                            <li class="nk-menu-hr"></li>
                            <li class="nk-menu-item">
                                <a href="{% url 'home:dashboard:groups' %}" class="nk-menu-link" title="Message Groups">
                                    <span class="nk-menu-icon"><em class="icon ni ni-template"></em></span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'home:dashboard:students' %}" class="nk-menu-link" title="Students">
                                    <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'home:dashboard:staffs' %}" class="nk-menu-link" title="Staffs">
                                    <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="nk-sidebar-footer">
                        <ul class="nk-menu nk-menu-md">
                            <li class="nk-menu-item">
                                <a href="{% url 'home:dashboard:profile' %}" class="nk-menu-link" title="Settings">
                                    <span class="nk-menu-icon">
                                        <em class="icon ni ni-setting"></em>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nk-sidebar-profile nk-sidebar-profile-fixed dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown" data-offset="50,-60">
                        <div class="user-avatar">
                            <div class="user-avatar user-avatar-custom">
                                <img class="avatar" src="{{ request.user.avatar.url }}" alt="user image">
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md ml-4">
                        <div class="dropdown-inner user-card-wrap d-none d-md-block">
                            <div class="user-card">
                                <div class="user-avatar user-avatar-custom">
                                    <img class="avatar" src="{{ request.user.avatar.url }}" alt="user image">
                                </div>
                                <div class="user-info">
                                    <span class="lead-text">{{ request.user.name }}</span>
                                    <span class="sub-text text-soft">{{ request.user.email }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-inner">
                            <ul class="link-list">
                                <li>
                                    <a href="{% url 'home:dashboard:profile' %}">
                                        <em class="icon ni ni-user-alt"></em>
                                        <span>View Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'home:dashboard:profile' %}?edit=true">
                                        <em class="icon ni ni-setting-alt"></em>
                                        <span>Update Profile</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown-inner">
                            <ul class="link-list">
                                <li>
                                    <a href="{% url 'home:dashboard:signout' %}">
                                        <em class="icon ni ni-signout"></em><span>Sign out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Side Nav -->

    <div class="nk-main ">
        <div class="nk-wrap ">

            <!-- Top Navigation -->
            <div id="spasTopNav" class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1"><a href="javascript:void(0)" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
                        <div class="nk-header-app-name">
                            <div class="nk-header-app-logo"><em class="icon ni ni-inbox bg-purple-dim"></em></div>
                            <div class="nk-header-app-info">
                                <span class="sub-text">SPAS</span>
                                <span class="lead-text">{% block pageName %}{% endblock %}</span>
                            </div>
                        </div>
                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown notification-dropdown">
                                    <a href="javascript:void(0)" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                        <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                                        <div class="dropdown-head">
                                            <span class="sub-title nk-dropdown-title">Notifications</span>
                                            {#                                            <a href="javascript:void(0)">Mark All as Read</a>#}
                                        </div>
                                        <div class="dropdown-body">
                                            <div class="nk-notification">
                                                <template v-if="notification.content.length > 0">
                                                    <div class="nk-notification-item dropdown-inner" v-for="(item, idx) in notification.content" :key="idx">
                                                        <a :href="'inbox/'+item.parentMsgId" class="d-flex">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-info-dim ni ni-edit"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">[[item.sender]] <span>replied</span> to <span class="font-weight-bold">[[item.parentMsgTitle]]</span></div>
                                                                <div class="nk-notification-time">[[getReadableDatetime(item.timestamp)]]</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </template>
                                                <template v-else>
                                                    <div class="d-flex justify-content-center py-3">
                                                        <p>You have no new notification</p>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                        {#                                        <div class="dropdown-foot center"><a href="javascript:void(0)">View All</a></div>#}
                                    </div>
                                </li>
                                <li class="dropdown user-dropdown">
                                    <a href="javascript:void(0)" class="dropdown-toggle mr-n1" data-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar user-avatar-custom">
                                                <img class="avatar" src="{{ request.user.avatar.url }}" alt="user image">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar user-avatar-custom">
                                                    <img class="avatar" src="{{ request.user.avatar.url }}" alt="user image">
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">{{ request.user.name }}</span>
                                                    <span class="sub-text">{{ request.user.email }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li>
                                                    <a href="{% url 'home:dashboard:profile' %}">
                                                        <em class="icon ni ni-user-alt"></em>
                                                        <span>View Profile</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'home:dashboard:profile' %}?edit=true">
                                                        <em class="icon ni ni-setting-alt"></em>
                                                        <span>Update Profile</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li>
                                                    <a href="{% url 'home:dashboard:signout' %}">
                                                        <em class="icon ni ni-signout"></em><span>Sign out</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Top Navigation -->

            <div class="nk-content p-0">
                <div class="nk-content-inner">
                    <div class="nk-content-body">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% block ext-content %}{% endblock %}

<input type="hidden" id="upload-attach-url" value="{% url 'home:dashboard:upload_attach' %}">
<input type="hidden" id="delete-attach-url" value="{% url 'home:dashboard:delete_attach' %}">
<input type="hidden" id="fetch-inbox-url" value="{% url 'home:dashboard:fetch_inbox' %}">
<input type="hidden" id="delete-inbox-url" value="{% url 'home:dashboard:delete_inbox' %}">
<input type="hidden" id="fetch-sent-inbox-url" value="{% url 'home:dashboard:fetch_sent_inbox' %}">
<input type="hidden" id="fetch-noti-url" value="{% url 'home:dashboard:fetch_notifications' %}">
<input type="hidden" id="usr-id" value="{{ request.user.id }}">


<script src="{% static 'dashboard/assets/js/bundle.js' %}"></script>
<script src="{% static 'dashboard/assets/js/scripts.js' %}"></script>
<script src="{% static 'dashboard/assets/js/demo-settings.js' %}"></script>
<script src="{% static 'dashboard/assets/js/apps/inbox.js' %}"></script>
<script src="{% static 'dashboard/assets/js/libs/tagify.js' %}"></script>
<script src="{% static 'home/plugins/vue/vue.js' %}"></script>
<script src="{% static 'dashboard/custom-js/csrf_ajax.js' %}"></script>
<script src="{% static 'dashboard/custom-js/modules.js' %}"></script>
<script>
    $(function(){
        $('.nk-apps-sidebar').addClass('is-theme');

        new Vue({
            el: '#spasTopNav',
            delimiters: ['[[', ']]'],
            name: 'TopNav',
            data(){
                return {
                    notification: {
                        content: [],
                        refreshInterval: NaN
                    }
                }
            },
            mixins: [VueMethodMixins],
            methods: {
                async loadNotifications(){
                    const notification = new SpasNotification();
                    const response = await notification.fetchNotifications();
                    if(response.status){
                        this.notification.content = response.threads
                    }
                    if(isNaN(this.refreshInterval)){
                        this.refreshInterval = setInterval(()=>{
                            this.loadNotifications()
                        }, 3000)
                    }
                }
            },
            created(){
                this.loadNotifications()
            }
        })
    })
</script>
{% block script %}{% endblock %}
</body>
</html>
