{% extends 'dashboard/authBase.html' %}
{% block title %} Registration Successful {% endblock %}

{% block content %}
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="nk-block-title text-center">Registration Sucessful</h4>
            <div class="nk-block-des text-success text-center">
                <p>Proceed to the login page to continue</p>
                <a href="{% url 'home:index' %}" class="btn btn-primary">
                    <span>Login</span>
                    <em class="icon ni ni-arrow-right"></em>
                </a>
            </div>
        </div>
    </div>
{% endblock %}